body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Zen Antique", serif;
  box-sizing: border-box;
}
.background {
  background-image: url(https://inhanoi.net/wp-content/uploads/2019/09/Menu-la-gi-Vai-tro-thiet-yeu-cua-menu-trong-cac-nha-hang-hien-nay.jpg);
  /* filter: blur(4px); */
  background-attachment: fixed;
  /* z-index: 2; */
}
/* .background3 {
  background-attachment:fixed;
  background-image: url(https://images.foody.vn/res/g17/163559/prof/s576x330/foody-upload-api-foody-mobile-ava-200611105913.jpg); */
/* background-size: cover; */
/* } */
* {
  box-sizing: inherit;
}
code {
  font-family: "Open Sans", sans-serif;
  font-family: "Zen Antique", serif;
}

.cardfood {
  background-color: white;
  display: inline-block;
  border: solid #777777 0.1rem;
  border-radius: 20px;
  margin-top: 40px;
  transition: all 0.6s;
  box-shadow: 0.13rem 0.13rem 0.13rem 0.13rem #777777;
  cursor: pointer;
}
.imagefood {
  width: 80%;
  height: 8rem;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  display: block;
  border-radius: 20px;
  margin-top: 1.5rem;
  box-shadow: 1.5px 1.5px 1.5px 1.5px #eeeeee;
}
.cardfood:hover,
.cardfood:active {
  transform: scale(1.1);
}

.iconcart {
  width: 1.5rem;
  height: 1.5rem;
  background-color: red;
  color: white;
  border-radius: 7px;
  float: right;
  margin-right: 1rem;
  margin-bottom: 1rem;
}
.price {
  display: inline;
  color: #ff3333;
  /* background-color: red; */
  /* margin-left: 1.5rem; */
  /* text-align: left; */
  margin-left: -60px;
  /* margin-top: 9px; */
  /* padding-top: 19px; */
}
.card-title {
  /* margin-left: 1.5rem; */
  margin-top: 4px;
  text-align: center;
}
/* ************************************Pop - Up******************************************** */

.modal {
  width: 100%;
  border-radius: 20px;
  /* backdrop-filter: blur(4px); */
}
.modal:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(105, 105, 105, 0.5);
  /* backdrop-filter: blur(4px); */
  transition: 0.25s;
  z-index: -1;
}

.modal > .header {
  font-size: 18px;
  padding: 10px;
  background-color: #ff0000;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  color: #fff;
}
.modal > .content {
  background-color: #eeeeee;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  /* background-color: red; */
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -5px;
  margin-top: 10px;
  margin-right: 15px;
  top: 0px;
  font-size: 40px;
  border: none;
  color: #fff;
}

.image_Pop {
  margin: 20px 0px 10px 20px;
  border-radius: 20px;
  object-fit: cover;
}
.contentPopup {
  margin-top: 20px;
  /* background-color: red; */
}
.textright {
  text-align: right;
}
.textBig {
  font-size: 105%;
  font-weight: 600;
}
.iconPop {
  color: red;
  border: 10px;
  border-radius: 10px;
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: middle;
}
.totalPrice {
  background-color: red;
  border-radius: 5px;
  margin-top: 20px;
  text-align: center;
  height: 40px;
  padding-top: 10px;
  color: white;
  font-weight: 100;
  transition: all 0.3s;
  cursor: pointer;
  margin-bottom: 15px;
  /* text-anchor: middle; */
  vertical-align: middle;
  padding-top: -35px;
  /* margin-top: 27px; */
  padding-bottom: 43px;
}
.iconTotalPrice {
  vertical-align: middle;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 20px;
  cursor: pointer;
}
.totalPrice:hover,
.totalPrice:active {
  transform: scale(1.03);
  cursor: pointer;
}
/* ************************************Pop - Up******************************************** */
/* css for filter */
.backtohome {
  padding-top: 20px;
  width: 100%;
  padding-left: 50px;
  display: inline-block;

  color: #000d6b;
  text-align: left;
}

.backtohome-icon {
  font-size: 44px;

  color: red;
}
.backtohome-title {
  display: inline-block;
  font-size: 30px;
  margin-left: 14px;
  /* font-weight: 700; */
  font-weight: bold;
  color: red;
}
.filter-food {
  display: flex;
  justify-content: center;
}
/* .button-back{
  height: 100%;
  
} */
.button-filter {
  display: flex;
  align-items: center;
}
.button-back {
  display: flex;
  align-items: center;
  margin-right: -26px;
}
.button-next {
}
.arrow-left-food {
  border-right: 20px solid #e33539;
  /* vertical-align: middle; */
  /* height: 100%; */
  /* margin-right: -15px; */
  left: 53px;
}
.arrow-food {
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  z-index: 1;
  cursor: pointer;
  position: absolute;
  top: 178px;

  cursor: pointer;
}
.arrow-food:hover {
  opacity: 0.8;
}
.arrow-right-food {
  right: 53px;
  border-left: 20px solid #e33539;
}
/* .button-back::after{
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  background-color: red;
  z-index: 1;
} */
.hoangkui-css-filter {
  /* box-sizing: border-box; */
  text-align: center;
}

.stick-list-cc {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
  text-align: center !important;
}
.filter-item {
  text-align: center;
  width: 200px;
  height: 150px;
  /* height: 120px; */
  background-color: white;
  /* box-sizing: border-box; */
  border-radius: 6px;
  border: 1px solid #ccc;
  display: inline-block;
  color: #ff3333;
  cursor: pointer;
  transition: all 0.2s ease;
  margin: 10px;
  list-style: none;
}
.test {
  animation: spinner both 3s;
}
.filter-item:hover {
  /* background-color: #96C7C1; */
}
.filter-item-seleted {
  color: white;
  /* background: linear-gradient(
    90deg,
    hsla(29, 92%, 70%, 1) 0%,
    hsla(0, 87%, 73%, 1) 100%
  ); */
  background-color: rgba(132, 84, 27, 0.8);
}
.filter-item-seleted:hover {
  background-color: none;
}
.filter-item-img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 50%;
  outline: none;
  border: none;
  margin-top: 16px;
  margin: 16px auto 0;
}
.filter-item-title {
  word-wrap: break-word;
  margin-bottom: 16px;
  /* line-height: 0; */
  padding-bottom: 24px;
}
/* .button-filter{
  display: inline-block;
} */

/* end */

@keyframes spinner {
  0% {
    transform: translateX(0);
  }
  /* 50%{
    transform: translateX(-40px);
  } */
  100% {
    transform: translateX(-80px);
  }
}

body {
  text-align: center;
  background: #fcfcfa;
  color: #818078;
  font-family: Futura, sans-serif;
}

.container {
  max-width: 50%;
  margin: 40px auto;
}

.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  font-size: 30px;
}
.hr-text:before {
  content: "";
  background: linear-gradient(to right, transparent, #818078, transparent);
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
}
.hr-text:after {
  content: attr(data-content);
  position: relative;
  display: inline-block;
  color: black;

  padding: 0 0.5em;
  line-height: 1.5em;
  color: #818078;
  background-color: #fcfcfa;
}
