body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Zen Antique', serif;
  /* box-sizing: border-box; */
}
*{
  box-sizing: inherit;
}
code {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Zen Antique', serif;
}

.cardfood {
  background-color: white;
  display: inline-block;
  border: solid #777777 0.1rem;
  border-radius: 20px;
  margin-top: 40px;
  transition: all 0.6s;
  box-shadow: 0.13rem 0.13rem 0.13rem 0.13rem #777777;
}
.imagefood {
  width: 80%;
  height: 8rem;
  margin-left: auto; 
  margin-right: auto;
  object-fit: cover;
  display: block;
  border-radius: 20px;
  margin-top: 1.5rem;
  box-shadow: 1.5px 1.5px 1.5px 1.5px #EEEEEE;
}
.cardfood:hover, .cardfood:active {
  transform: scale(1.1);
}

.iconcart {
  width: 1.5rem;
  height: 1.5rem;
  background-color: red;
  color: white;
  border-radius: 7px;
  float: right;
  margin-right: 1rem;
  margin-bottom: 1rem;
}
.price {
  display: inline;
  color: #FF3333;
  /* background-color: red; */
  margin-left: 1.5rem;
}
.card-title {
  margin-left: 1.5rem;
}
/* ************************************Pop - Up******************************************** */

.modal {
  width: 100%;
  border-radius: 20px;
  /* backdrop-filter: blur(4px); */
}
.modal:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(105,105,105,0.5);
  /* backdrop-filter: blur(4px); */
  transition: .25s;
  z-index: -1;
}

.modal > .header {
  font-size: 18px;
  padding: 10px;
  background-color: #DDDDDD;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.modal > .content {
  background-color: #EEEEEE;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  /* background-color: red; */  
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -5px;
  margin-top: 10px;
  margin-right: 15px;
  top: 0px;
  font-size: 24px;
  border: none;
}

.image_Pop {
  margin: 20px 0px 10px 20px;
  border-radius: 20px;
  object-fit: cover;
}
.contentPopup {
  margin-top: 20px;
  /* background-color: red; */
}
.textright {
  text-align: right;
}
.textBig {
  font-size: 105%;
  font-weight: 600;
}
.iconPop {
  color: red;
  border: 10px;
  border-radius: 10px;
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: middle;
}
.totalPrice {
  background-color:red;
  border-radius: 5px;
  margin-top: 20px;
  text-align: center;
  height: 40px;
  padding-top: 10px;
  color: white;
  font-weight: 100;
  transition: all 0.3s;
  cursor: pointer;
}
.iconTotalPrice {
  vertical-align: middle;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 20px;
  cursor: pointer;
}
.totalPrice:hover, .totalPrice:active {
  transform: scale(1.03);
  cursor: pointer;
}
/* ************************************Pop - Up******************************************** */
/* css for filter */
.backtohome{
  padding-top: 20px;
  width: 100%;
  padding-left: 50px;
  display: inline-block;

  color: #000D6B;
}

.backtohome-icon{
  font-size: 44px;
}
.backtohome-title{
  display: inline-block;
  font-size: 30px ;
  margin-left: 14px;
  /* font-weight: 700; */
  font-weight: bold;
}
.filter-food{
display: flex;
justify-content: center;
}
/* .button-back{
  height: 100%;
  
} */
.button-filter{
  display: flex;
  align-items: center;
}
.button-back{
  display: flex;
  align-items: center;
  margin-right: -26px;
}
.button-next{

}
.arrow-left-food {
  border-right:20px solid blue;
  /* vertical-align: middle; */
  /* height: 100%; */
  margin-right: -15px;
}
.arrow-food{
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  z-index: 1;
  
  cursor: pointer;
}
.arrow-food:hover{
  opacity: 0.8;
}
.arrow-right-food {


  border-left: 20px solid blue;
 

}
/* .button-back::after{
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  background-color: red;
  z-index: 1;
} */
.filter-list{
/* box-sizing: border-box; */
display: inline-block;

}
.filter-item{
  text-align: center;
  width: 200px;
  height: 150px;
  /* height: 120px; */
  background-color: white;
  /* box-sizing: border-box; */
  border-radius: 6px;
  border:1px solid #ccc;
  display: inline-block;
  color:#000D6B;
  cursor: pointer;
  transition: all 1s ease ;
  margin:10px;
  list-style: none;

 
}
.test{
  animation:spinner both 3s;
}
.filter-item:hover{
background-color: #96C7C1;
}
.filter-item-seleted{
  color: white;
  background-color: #000D6B;
}
.filter-item-img{
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 50%;
  outline: none;
  border: none;
  margin-top: 16px;
}
.filter-item-title{
  word-wrap: break-word;
  margin-bottom: 16px;
  /* line-height: 0; */
  padding-bottom: 24px;
}
/* .button-filter{
  display: inline-block;
} */

/* end */

@keyframes spinner {
  0%{
    transform: translateX(0);
  }
  /* 50%{
    transform: translateX(-40px);
  } */
  100%{
    transform: translateX(-80px);
  }
  
}