
.cart-item{
    list-style-type: none;
    /* display: block; */
    display:flex;
    align-items: center;
    border:1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 12px;
    position: relative;
}
.cart-item-img-src{
    /* height: 100px; */
    object-fit: contain;
    width: 80px;
}
.cart-item-content{
    display: flex;
    flex-direction: column;
    margin-left: 14px;
    width: 100%;
    padding-right:6px;
    padding:6px;
    /* background-color: red; */
}
.cart-item-content-add-list{
    padding:0 4px;
}
.cart-item-content-add-item{
    display: flex;
    justify-content: space-between;
    margin: 0;
    font-size: 12px;
    /* line-height: 0px; */
    text-align: left;
    
    /* line-height: 10px; */
}
.cart-item-content-add-item-price{
    color:#f7442e;
}
.cart-item-content-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 0px;
}
.cart-item-content-bottom-price{
    text-align: right;
    font-size:12px;
}
.cart-item-content-bottom-price-origin{
    color:#f7442e;
    font-size:16px;
}
.cart-item-content-bottom-button .fas{
    border:1px solid rgb(121, 121, 121);
    padding:8px;
    border-radius: 6px;
    cursor: pointer;
}
.cart-item-content-bottom-button {
    vertical-align: middle;
    text-align: center;
    /* padding-bottom: 10px; */
}
.cart-item-content-bottom-button .fas:hover{
    opacity: 0.8;
}
.cart-item-content-bottom-button .fa-minus{
    margin-right: 20px;
}
.cart-item-content-bottom-button .fa-plus{
    margin-left: 20px;
    color:#f7442e;
    border:1px solid red;
    
}
.cart-item-content-bottom-price-tax{
    font-size: 10px;
}
.cart-item-content-title{
    margin: 0;
    text-align: left;
    /* background-color: red; */
    font-size: 18px;

}
.removeItem {
    /* position: absolute; */
    /* right: 30px; */
    cursor: pointer;
    /* float: right; */
}
.iconX {
    margin-right: 30px;
}
.cart-item-icon-close{
    position: absolute;
    top:6px;
    right: 6px;
    
    cursor: pointer;
}
.cart-item-icon-close:hover{
    color:red;
    /* zoom: 1.1; */
}

